h1 {
    text-align: center;
    text-shadow: none;
}

.key-value-list {
    margin: 0 auto 1em auto;
}

#page {
    padding-top: 0;
}

.dialog-only {
    display: none;
}

body .fullpage-only {
    display: inline;
}

.edit-controls {
    margin-top: 1em;
    text-align: center;
}

@media print {
    body {
        background-color: white;
    }

    body #content {
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    body #content-liner {
        border: none;
    }

    body .nav-links,
    body .edit-controls {
        display: none;
    }

    #page {
        min-width: 0;
    }
}     
