<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>appName</param-name>
        <param-value>System Readiness (HCO)</param-value>
    </context-param>
    <context-param>
        <param-name>appShortName</param-name>
        <param-value>SR</param-value>
    </context-param>
    <context-param>
        <param-name>resourceVersionNumber</param-name>
        <param-value>151</param-value>
    </context-param>
    <context-param>
        <param-name>releaseNumber</param-name>
        <param-value>@VERSION@</param-value>
    </context-param>
    <context-param>
        <param-name>releaseDate</param-name>
        <param-value>@RELEASE_DATE@</param-value>
    </context-param>
    <context-param>
        <param-name>contentContact</param-name>
        <param-value>Kenneth Baggett (baggett), Paul Vasilauskis (vasilaus)</param-value>
    </context-param>
    <context-param>
        <param-name>technicalContact</param-name>
        <param-value>Theo Larrieu (theo), Ryan Slominski (ryans)</param-value>
    </context-param>
    <context-param>
        <param-name>feedbackFromAddress</param-name>
        <param-value>hco@jlab.org</param-value>
    </context-param>
    <context-param>
        <param-name>feedbackToAddressCsv</param-name>
        <param-value>baggett@jlab.org,ryans@jlab.org,vasilaus@jlab.org,theo@jlab.org,garza@jlab.org,frierson@jlab.org,moser@jlab.org</param-value>
    </context-param>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
    <session-config>
        <session-timeout>480</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Enforce Authenticated on SSO Redirect Page</display-name>
        <web-resource-collection>
            <web-resource-name>SSO Page</web-resource-name>
            <url-pattern>/sso</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ipausers</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Enforce Admin on setup pages</display-name>
        <web-resource-collection>
            <web-resource-name>Setup Pages</web-resource-name>
            <url-pattern>/setup/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>hcoadm</role-name>
            <role-name>halead</role-name>
            <role-name>hblead</role-name>
            <role-name>hclead</role-name>
            <role-name>hdlead</role-name>
            <role-name>lerfadm</role-name>
            <role-name>cryoadm</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>jlab</realm-name>
    </login-config>
    <security-role>
        <role-name>hcoadm</role-name>
    </security-role>
    <security-role>
        <role-name>halead</role-name>
    </security-role>
    <security-role>
        <role-name>hblead</role-name>
    </security-role>
    <security-role>
        <role-name>hclead</role-name>
    </security-role>
    <security-role>
        <role-name>hdlead</role-name>
    </security-role>
    <security-role>
        <role-name>lerfadm</role-name>
    </security-role>
    <security-role>
        <role-name>cryoadm</role-name>
    </security-role>
    <security-role>
        <role-name>cc</role-name>
    </security-role>
    <security-role>
        <role-name>ipausers</role-name>
    </security-role>
    <distributable/>
</web-app>
